.body-container{
    display: flex;
    gap: 50px;
    padding: 20px;
}

.slider-bar-container{
    width: 300px;
    background-color: whitesmoke;
    border: 1px solid rgba(0, 0, 0, 0.132);
    position: fixed;
    height: 95%;
    border-radius: 20px;
}

.navigate-sliders{
    margin-left: 500px;
    width: 500px;
    background-color: aqua;
}