@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2,
p {
  margin: 0;
  padding: 0;
}
.hero-section {
  width: 100%;
  background-color: #111111;
  height: 260px;
  display: flex;
  gap: 50px;
  margin-top: 10vh;
}

.hero-section .hero-header {
  margin-left: 170px;
  margin-top: 30px;
}

.hero-section .hero-header h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 45px;
}

.hero-section .hero-header p {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 14px;
}

.hero-section .hero-header button {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 18px;
  width: 150px;
  height: 38px;
  font-family: "Poppins", sans-serif;
  color: #111111;
  font-size: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.hero-section .hero-image {
  margin-left: 290px;
  /* margin-top: -30px; */
}

.Show-card-Header {
  margin-top: 40px;
  margin-left: 140px;
  display: flex;
  gap: 20px;
}

.Show-card-Header p {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 300;
  color: #111111;
}

.Show-card-Header .highlight {
  color: #1259f3;
  font-weight: 400;
}

.Show-card-Header .this-month-button {
  background-color: #ffffff;
  border: 1px solid #1259f3;
  border-radius: 18px;
  width: 130px;
  height: 34px;
  font-family: "Poppins", sans-serif;
  color: #1259f3;
  font-size: 15px;
  cursor: pointer;
  margin-left: 560px;
}

.Show-card-Header .View-button {
  background-color: #ffffff;
  border: 1px solid #11111121;
  border-radius: 18px;
  width: 130px;
  height: 34px;
  font-family: "Poppins", sans-serif;
  color: #111111;
  font-size: 15px;
  cursor: pointer;
}

.e-ticket-resend-div {
  width: 86%;
  height: 350px;
  background-color: #dbdde3bb;
  margin-left: 120px;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  /* gap: -10px; */
  margin-top: 40px;
  color: #111111;
  border: 1px solid #11111101;
}

.e-ticket-resend-div h2 {
  font-size: 35px;
  font-weight: bold;
  color: #111111dc;
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
}

.e-ticket-resend-div img {
  height: 330px;
  object-fit: cover;
}

.e-ticket-resend-div button {
  background-color: #dbdde3bb;
  margin-top: 20px;
  border: 1px solid #11111197;
  border-radius: 5px;
  width: 180px;
  height: 37px;
  font-family: "Poppins", sans-serif;
  color: #111111;
  font-size: 15px;
  cursor: pointer;
  margin-left: 10px;
}

.e-ticket-resend-div p{
  font-family: "Poppins", sans-serif;
  color: #111111d2;
  align-items: left;
}

.loader {
  width: 40px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#000 30%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}